Repository fvwmorg/fvwm3, pull requests merged in 2025-05, with the labels that each got.

#1195 build: remove go-1.14.0 check
  Dockerfile
  meson.build
Labels: area:build

#1197 Fix crash in FvwmPager and clarify Balloons option.
  doc/FvwmPager.adoc
  modules/FvwmPager/init_pager.c
Labels: type:bug, relates:module

#1176 expand.c: Add "maximum" and "minimum" to math.
  doc/fvwm3_manpage_source.adoc
  fvwm/expand.c
Labels: type:enhancement

#1203 meson: do a link test for `locale_charset()`
  meson.build
Labels: area:build
